{% if name  %}
    {%for item in name%}
    <p>--------trip--------</p>
        <div class ="trip">
            <p>{{item.Name_of_trip}}</p>
            <p>{{item.Destination}}</p>
            <p>{{item.Date_of_trip}}</p>
            <p>{{item.Require_risk_assessment}}</p>
            <p>{{item.Description}}</p>
        </div>
     {% endfor %}
     {%for item in price%} 
     <p>----------expense-----</p>
        <div class ="price">
            <p>{{item.Type_of_expenses}}</p>
            <p>{{item.Amount_of_the_expense}}</p>
            <p>{{item.Time_of_the_expense}}</p>
            <p>{{item.Name_of_trip}}</p>
        </div>
    {% endfor %}
{%else%}
        <b>no trip</b>
        <p>no expense</p>
{% endif %}